html, body {
    padding-top: 5rem;
    margin: 0px;
    padding: 0px;
    min-height: 100%;
  }

body {
    font-size: 1rem;
    font-family: serif;
    color: #333;

    display: grid;
    grid-template-rows: auto auto auto ;
    grid-template-columns: auto 1fr 300px;
    grid-template-areas:
        "sidebar header sidebar2"
        "sidebar main sidebar2"
        "sidebar main sidebar2";

    overflow: hidden;
    background-color: #f0f0f0;
}

nav {
    /* Zuweisung in die oben definierte, benannte Grid Area */
    grid-area: sidebar;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #65a2f1; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border-right: 1px solid #333;
}
nav img {
    width: 100%;
}
nav ul li {
    font-size: 20px;
    padding-bottom: 10px;
}
nav form{
    background-color: #65a2f1;
    color: rgb(0, 0, 0);
    text-align: center;
    bottom: 0;
    width: 100%;
}
nav p{
    background-color: #65a2f1;
    color: rgb(0, 0, 0);
    text-align: center;
    bottom: 0;
}
main {
    /* Zuweisung in die oben definierte, benannte Grid Area */
    grid-area: main;
    padding: 2rem;
    margin-left: 300px; /* Same as the width of the sidebar */
}
header {
    /* Zuweisung in die oben definierte, benannte Grid Area */
    grid-area: header;

    font-size: 2.5rem;
}
/*
form {
    !**border: 3px solid #f1f1f1**!;
    border-right: 2px solid #ccc;
}*/
.Kalender{
    width: 100%;
    grid-area: main;
}
.Kalender1{
    grid-area: sidebar2;
    width: 10%;
}