<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
    <link rel="script" href="/static/js/main.js" th:href="@{/js/main.js}">
    <title>Vorlesungsplaner DHBW</title>

    <link href='Kalender/main.css' rel='stylesheet' th:href="@{/Kalender/main.css}" />
    <script src='Kalender/main.js'></script>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth'
            });
            calendar.render();
        });

    </script>
</head>

<body>
<main>
<nav th:fragment="sidebar">

    <img alt="DHBW Logo" class="img" src="/images/dhbwlogo.svg">
    <ul>
       <li><a id="terminH" onclick="terminH(event)" href="#">Vorlesungtermin hinzufügen</a></li>
        <li><a id="terminÄ" onclick="terminA(event)" href="#">Vorlesungtermin ändern</a></li>
        <li><a id="terminL" onclick="terminL(event)" href="#">Vorlesungtermin löschen</a></li>
        <li><a id="planA" onclick="planA(event)" href="#">Vorlesungsplanung abschließen</a></li>
        <li><a id="planS" onclick="planS(event)" href="#">Vorlesungsplanung starten</a></li>
    </ul>
    <div id="button">
        <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-primary" value="Logout" />
        </form>
    </div>
</nav>
<div class="Kalender">
    <div id='calendar'></div>
</div>
    <div class="Kalender1">
    <div id='calendar1'></div>
    </div>
</main>
</body>

</html>
