<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" type="text/css" th:href="@{/css/loginAndReg.css}" href="../static/css/loginAndReg.css">
        <meta charset="UTF-8">
        <title>Vorlesungplaner DHBW</title>

    </head>
    <body>
        <div class="wrapper">
            <form th:action="@{/login}" method="post">
                <div class="container">
                    <h2>Anmeldung</h2>
                    <label>Username</label>
                    <input type="email"  name="username" placeholder="E-mail">

                    <label>Passwort</label>
                    <input type="password" name="password"  placeholder="Password">


                    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    <div
                            id="reg-link"
                            class="reg">
                            <a href="" th:href="@{/Reg}">
                                <button type="button">Registrieren</button>
                            </a>
                    </div>
                </div>
            </form>

            <div class="logo-container">
                <div class="lc-text">
                    <h2>Vorlesungsplaner</h2>
                    <p>Willkommen zum DHBW-Vorlesungsplaner. </br>  Ein Projekt von Manuel Klumpp, Jannik Böse <br> und Steven Torkornoo auch bekannt als Steven der G.</p>
                </div>
                <div class="lc-img">
                    <img th:src="@{/images/dhbwlogo.svg}" src="../static/images/dhbwlogo.svg">
                </div>
            </div>
        </div>
    </body>
</html>

