<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/login.css">
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div class="wrapper">
            <form>
                <div class="container">
                    <h2>Anmeldung</h2>
                    <label>Username</label>
                    <input type="text" placeholder="Username eingeben" name="uname" required>

                    <label>Passwort</label>
                    <input type="password" placeholder="Passwort eingeben" name="pwd" required>

                    <button type="submit">Login</button>

                    <div class="reg"><a href="">Registrieren</a></div>
                </div>
            </form>

            <div class="logo-container">
                <div class="lc-text">
                    <h2>Vorlesungsplaner</h2>
                    <p>Willkommen zum DHBW-Vorlesungsplaner. </br>  Ein Projekt von Manuel Klummp, Jannik Böse <br> und Steven Torkornoo auch bekannt als Steven der G.</p>
                </div>
                <div class="lc-img">
                    <img src="../images/dhbwlogo.svg">
                </div>
            </div>
        </div>
    </body>
</html>