<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" type="text/css" th:href="@{/css/loginAndReg.css}" href="../static/css/loginAndReg.css">
        <meta charset="UTF-8">
        <title>Vorlesungplaner DHBW</title>

    </head>
    <body>
        <div id="id01" class="modal">
            <!--<span onclick=
                "document.getElementById('id01').style.display='none'"
                class="close"
                title="Close Modal">&times;</span>-->

            <form th:action="@{/process_reg}" th:object="${User}" class="modal-content animate" method="post" enctype="utf8">
                <div class="modal-container">
                    <label>Vorname</label>
                    <input th:field="*{first_name}" type="text" placeholder="Vorname eingeben" name="vname" required>

                    <label>Nachname</label>
                    <input th:field="*{last_name}" type="text" placeholder="Nachname eingeben" name="n-name" required>

                    <label>E-Mail</label>
                    <input th:field="*{email}" type="text" placeholder="E-Mail eingeben" name="e-mail" required>

                    <label>Passwort</label>
                    <input th:field="*{password}" type="password" placeholder="Wähle ein Passwort" name="pwd" required>

                    <label>Passwort wiederholen</label>
                    <input type="text" placeholder="Passwort wiederholen" name="pwd-wdh" required>

                    <button type="submit" >Registrieren</button>
                    <button
                            onclick="document.getElementById('id01').style.display='none'"
                            class="cancelBtn">Abbrechen</button>
                </div>
            </form>
        </div>
    </body>
</html>